:root{
	--primary-color: #37f;
	--text-color: #115;
	--bg-color: #eef;
	--bg-card-color: #dde;
	--trans: color .2s, background-color .2s ease-in-out;
	--border-radius: .7em;
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
	transition: var(--trans);
}
body.dark{
	--text-color: #ddd;
	--bg-color: #112;
	--bg-card-color: #113;
}
a{
	color: var(--primary-color);
	text-decoration: none;
}
img{
	max-width: 100%;
	display: block;
}

/* HEADER */
#header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg-card-color);
	padding: 0 10px;
	height: 70px;
	width: 100%;
	transition: var(--trans);
}
#switches{
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
#switches__img{
	width: 1em;
	margin-right: .5em;
}
#switches__text{
	font-size: .7em;
	font-weight: 600;
}

#colors{
	width: 90px;
	height: 20px;
	cursor: pointer;

	display: flex;
	justify-content: space-between;
}
.colors__item{
	background-color: var(--primary-color);
	width: 20px;
	height: 100%;
	border: 1px solid #333;
}
.colors__item--blue{
	--primary-color: #34f;
}
.colors__item--red{
	--primary-color: #f00;
}
.colors__item--green{
	--primary-color: #3c4;
}
.colors__item--purple{
	--primary-color: #a0f;
}

/* main */
#main{
	display: grid;
	grid-template-columns: min-content 1fr;
	padding: 1.5em;
}

.card{
	background-color: var(--bg-card-color);
	border-radius: var(--border-radius);
	padding: 1em;
}
.card__image--container{
	min-width: 320px;
	min-height: 320px;
}
.card__image--container img{
	height: 320px;
	width: 100%;
	object-fit: cover;
	object-position: 0 -35px;
	border-radius: 50%;
	background-color: var(--bg-color);
	border: 2px outset var(--primary-color);
}
.card__header{
	padding: 1.3em 0;
}
.card__title,
.card__subtitle{
	margin: 0;
}
.card__subtitle{
	opacity: 0.8;
	font-size: .9em;
}
.card__icon{
	margin-right: .5em;
}
.card__text{
	font-size: 0.9em;
	line-height: 1.5;
}
